html {background-color: #ffe4e1;}
p {
    font-family: Times New Roman, serif;
    color: #008080;
    font-size: 11pt;
}

h1 {
    font-family: Helvetica, serif;
    color: #7289da;
    font-size: 30pt;
}

h2 {
    font-family: Arial, serif;
    color: #99ccff;
    font-size: 20pt;
}

h3 {
     font-family: Times New Roman, serif;
    color: #008080;
}
ul {
     font-family: Times New Roman, serif;
    color: #008080;
    font-size: 11pt;
}

ol {
     font-family: Times New Roman, serif;
    color: #008080;
    font-size: 11pt;
}